<ion-content>
  <div class="global-container">
    <div class="card register-form">
      <div class="card-body">
        <h1 class="card-title text-center">Register</h1>
        <div class="card-text">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <ion-item>
                <ion-input id="email" type="email" class="form-control form-control-sm"></ion-input>
              </ion-item>

              <label for="username">Username</label>
              <ion-item>
                <ion-input id="username" type="text" class="form-control form-control-sm"></ion-input>
              </ion-item>

              <label for="password">Password</label>
              <ion-item>
                <ion-input id="password" type="password" class="form-control form-control-sm"></ion-input>
              </ion-item>

              <label for="password-again">Password again</label>
              <ion-item>
                <ion-input id="password-again" type="password" class="form-control form-control-sm"></ion-input>
              </ion-item>

              <ion-button class="btn btn-block">Register</ion-button>

              <ion-buttons>
                <ion-button routerLink="../login" class="login">Already have an acount?</ion-button>
              </ion-buttons>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
