ion-content {
  height: 100%;
  --background: #222d32 !important;
  font-family: "Roboto", sans-serif;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0db8de;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.login-form {
  width: 380px;
  height: 510px;
  margin: 20px;
  background: #1a2226 !important;
  border-radius: 10px !important;
}

ion-input[type="email"], ion-input[type="text"], ion-input[type="password"] {
  background: #1a2226;
  border: 2px solid #0db8de;
  border-radius: 10px;
  margin-bottom: 25px;
  width: 30px;
  padding-bottom: 5px;
  color: #0db8de;
}

ion-input[type="text"]:focus, ion-input[type="password"]:focus {
  outline: none;
  border: none;
  background: #1a2226;
  margin: 0;
}

ion-item {
  --background: #1a2226;
}

.card-title {
  font-weight: 900;
  padding-top: 20px;
}

.btn {
  width: 340px;
  height: 50px;
  --background: #0db8de !important;
  font-size: 14px;
  transform: translateY(10px);
  --border-radius: 10px !important;
}

.signup {
  text-align: center;
  margin-top: 10px;
}

.buttons {
  display: block;
}

.buttons-2 {
  margin-top: 10px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
